<!-- Modal for Change Password -->
<div class="modal fade modal-success" data-backdrop="static" id="changePasswordModal" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal"style="overflow: scroll !important;">
    <!-- Modal Dialog -->
    <div class="modal-dialog">
        <!-- Spinner -->
        <spinner name="changePasswordSpinner" ng-cloak="">
            <div class="overlay"></div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="please-wait">Please Wait...</div>
        </spinner>
        <!-- /.Spinner -->
        <!-- Modal Content -->
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-unlock-alt"></i> Change Password</h4>
            </div>
            <!-- /.Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body" style="color:#333 !important;background: #ffffff !important">
                <!-- Row -->
                <div class="row">
                    <!-- Current Password -->
                    <div class="col-md-12">
                        <!-- Show current password as type="password" -->
                        <div ng-if="!showCurrentPassword" class="form-group has-feedback">
                            <label>Current Password:</label>
                            <input type="password" ng-model="params.currentPassword" class="form-control" placeholder="Current Password">
                            <span ng-if="params.currentPassword" ng-click="toggleShowCurrentPassword()" class="glyphicon glyphicon-eye-open form-control-feedback" ng-disabled="isSaving" style="cursor: pointer; pointer-events: all;"></span>
                        </div>
                        <!-- /.Show current password as type="password" -->

                        <!-- Show password as type="text" -->
                        <div ng-if="showCurrentPassword" class="form-group has-feedback">
                            <label>Current Password:</label>
                            <input type="text" ng-model="params.currentPassword" class="form-control" placeholder="Current Password">
                            <span ng-if="params.currentPassword" ng-click="toggleShowCurrentPassword()" class="glyphicon glyphicon-eye-close form-control-feedback" ng-disabled="isSaving" style="cursor: pointer; pointer-events: all;"></span>
                        </div>
                        <!-- /.Show password as type="text" -->
                    </div>
                    <!-- /.Current Password -->
                    <!-- New Password -->
                    <div class="col-md-12">
                        <!-- Show new password as type="password" -->
                        <div ng-if="!showNewPassword" class="form-group has-feedback">
                            <label>New Password:</label>
                            <input type="password" ng-model="params.newPassword" class="form-control" placeholder="New Password">
                            <span ng-if="params.newPassword" ng-click="toggleShowNewPassword()" class="glyphicon glyphicon-eye-open form-control-feedback" ng-disabled="isSaving" style="cursor: pointer; pointer-events: all;"></span>
                        </div>
                        <!-- /.Show new password as type="password" -->

                        <!-- Show new password as type="text" -->
                        <div ng-if="showNewPassword" class="form-group has-feedback">
                            <label>New Password:</label>
                            <input type="text" ng-model="params.newPassword" class="form-control" placeholder="New Password">
                            <span ng-if="params.newPassword" ng-click="toggleShowNewPassword()" class="glyphicon glyphicon-eye-close form-control-feedback" ng-disabled="isSaving" style="cursor: pointer; pointer-events: all;"></span>
                        </div>
                        <!-- /.Show new password as type="text" -->
                    </div>
                    <!-- /.New Password -->
                    <!-- Confirm Password -->
                    <div class="col-md-12">
                        <!-- Show confirm password as type="password" -->
                        <div ng-if="!showConfirmPassword" class="form-group has-feedback">
                            <label>Confirm Password:</label>
                            <input type="password" ng-model="params.confirmPassword" class="form-control" placeholder="Confirm Password">
                            <span ng-if="params.confirmPassword" ng-click="toggleShowConfirmPassword()" class="glyphicon glyphicon-eye-open form-control-feedback" ng-disabled="isSaving" style="cursor: pointer; pointer-events: all;"></span>
                        </div>
                        <!-- /.Show confirm password as type="password" -->

                        <!-- Show confirm password as type="text" -->
                        <div ng-if="showConfirmPassword" class="form-group has-feedback">
                            <label>Confirm Password:</label>
                            <input type="text" ng-model="params.confirmPassword" class="form-control" placeholder="Confirm Password">
                            <span ng-if="params.confirmPassword" ng-click="toggleShowConfirmPassword()" class="glyphicon glyphicon-eye-close form-control-feedback" ng-disabled="isSaving" style="cursor: pointer; pointer-events: all;"></span>
                        </div>
                        <!-- /.Show confirm password as type="text" -->
                    </div>
                    <!-- /.Confirm Password -->
                </div>
                <!-- /.Row -->
            </div>
            <!-- /.Modal Body -->
            <!-- Modal Footer -->
            <div class="modal-footer btn-success">
                <button type="button" class="btn btn-flat btn-danger pull-left" data-dismiss="modal" data-toggle="modal" ng-click="changePasswordClose();">Close</button>
                <button type="submit" class="btn btn-flat btn-primary" ng-disabled="isSaving" ng-click="changePassword();">Save</button>
			</div>	
            <!-- /.Modal Footer -->
        </div>
        <!-- /.Modal Content -->
    </div>
    <!-- /.Modal Dialog -->
</div>
<!-- /.Modal for Change Password -->