<!-- Wrapper -->
<div class="wrapper" ng-controller="payrolllistController" ng-init="payrolllist.active();">
    <spinner name="payrolllistSpinner" ng-cloak="">
        <div class="overlay"></div>
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="please-wait">Please wait...</div>
    </spinner>
    <!-- Header Template-->
    <div ng-include="headerTemplate"></div>
    <!-- /.Header Template-->
    <!-- Left Navigation Template -->
    <div ng-include="leftNavigationTemplate"></div>
    <!-- /.Left Navigation Template -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                List
                <small>Payroll</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a>
                        <i class="fa fa-list"></i>
                        <span>Payroll</span> 
                    </a>    
                </li>
            </ol>
        </section>
        <!-- /.Content Header (Page header) -->
        <!-- Main Content -->
        <section class="content">
            <!-- Continue Codes Here -->
            

        </section>
        <!-- /.Main Content -->
    </div>
    <!-- /.Content Wrapper. Contains page content -->
    <!-- Footer Template -->
    <div ng-include="footerTemplate"></div>
    <!-- /.Footer Template -->

</div>
<!-- /.Wrapper -->

<!-- CSS -->
<style rel="stylesheet">

</style>
<!-- /.CSS -->